.image-container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-image: url("./assets/img/thumb_list_place.png");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    background-position: center;
}

.logo-container{
    left: 50px;
    position: absolute;
    top: 20px;
     z-index: 3;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}




.footer {
    position: relative;
    bottom: 20px;
    right: 0px;
    width: 100%;
    color: #FFFFFF;
    z-index: 4;
    text-align: center;
    margin-top: 60px;
    text-shadow: 0 0px 1px black;
}

.wizard-container {
    padding-top: 100px;
   
}

.wizard-card {
    min-height: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%), 0 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 10px 0;
}



.wizard-navigation {
    position: relative;
}
div {
    display: block;
}

nav  {
    font-size: 28px;
    margin: 20px 0 10px;
}

g {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
  
    text-align: -webkit-match-parent;
    list-style-type: none;
   
}
.un-line{
    text-decoration: none;
}
ul{
    
    color: #2CA8FF;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    margin-top: 10px;

}


.nav-pills {
    background-color: #999999;
}


.tab-content {
    min-height: 340px;
    padding: 20px 10px;
}


.tab-content>.active {
    display: block;
}


h4, .h4 {
    font-size: 22px;
}


img {
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}
input[type=file] {
    display: block;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

input {
    writing-mode: horizontal-tb !important;

    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

h6, .h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 15px;
}
.form-control.error {
    color: #FF3B30;
    border-color: #FF3B30;
}


.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    height: 38px;
    padding: 6px 16px;
}
.form-control, .input-group-addon {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


label.error {
    color: #FF3B30;
    margin-top: 5px;
    margin-bottom: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}
.form-group {
    margin-bottom: 15px;
}



.choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
 .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    background-color: #999999;
    color: #FFFFFF;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.choice i {
    font-size: 30px;
    line-height: 111px;
}

.wizard-footer {
    padding: 0 100px;
}


.pull-right {
    float: right;
}
.pull-left{
    float:left;
}

.footer {
    position: relative;
    bottom: 20px;
    right: 0px;
    width: 100%;
    color: #FFFFFF;
    z-index: 4;
    text-align: center;
    margin-top: 60px;
    text-shadow: 0 0px 1px black;
}


.wizard-header{
    text-align: center;
}

h3 > b{
    font-size: 40px;
   
}
h3, .h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}
.tab-content {
    min-height: 340px;
    padding: 10px 10px;
}

.info-text {
    text-align: center;
    font-weight: 300;
    margin: 30px 0 30px;
}
.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture-src {
    width: 100%;
}

.made-with-mk {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 555;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    background-color: rgba(16, 16, 16, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 12px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}
.brand {
    position: relative;
    top: 3px;
    left: -1px;
    letter-spacing: 1px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
}
.made-with-mk .brand, .made-with-mk .made-with {
    float: left;
}
.made-with {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 75px;
    top: 15px;
    opacity: 0;
    margin: 0;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}
.made-with-mk .brand, .made-with-mk .made-with {
    float: left;
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
